<fieldset class="form-group">
        <label for="username">Nome de usuário</label>
        <input class="form-control" type="text" id="username" name="username" ng-model="participante.username"/>
    </fieldset>
    <fieldset class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="text" id="email" name="email" ng-model="participante.email"/>
    </fieldset>        
    <fieldset class="form-group">
        <label for="bio">Bio</label>
        <textarea class="form-control" id="bio" name="bio" ng-model="participante.bio"></textarea>
    </fieldset>