<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="/#/">Workshop - Angular.js e Node.js</a>
            </div>
        </div>
        <ul class="nav navbar-nav">
            <li  ng-class="{'active': isPage('participantes')}"><a href="#/participantes">Participantes</a></li>
            <li  ng-class="{'active': isPage('participantes/new')}"><a href="#/participantes/new">Novo</a></li>
        </ul>
    </div>
</nav>
